@page
@using MediaInAction.Localization
@using Microsoft.Extensions.Localization
@model MediaInAction.PublicWeb.Pages.BasketModel

@section scripts {
    <abp-script src="/client-proxies/basket-proxy.js"/>
}

@inject IStringLocalizer<MediaInActionResource> L

<div class="row">
    <div id="BasketArea">

    </div>
</div>