@page
@using MediaInAction.Localization
@using MediaInAction.PublicWeb.Components.Trakt
@using Microsoft.Extensions.Localization
@model MediaInAction.PublicWeb.Pages.TraktModel

@inject IStringLocalizer<MediaInActionResource> L

@section scripts {
    <abp-script src="/Pages/payment.js"/>
}

<div class="row">
    <div id="TraktArea">
        @await Component.InvokeAsync(typeof(TraktWidgetViewComponent))
    </div>
</div>